/*
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Norican', cursive;
*/



@mixin psdWidth($elementWidth) {
  width: percentage($elementWidth/1600);
}

@mixin psdMaxWidth($elementMaxWidth) {
  max-width: percentage($elementMaxWidth/1600);
}

@mixin fontSize($elementFontSize) {
  font-size: ($elementFontSize/16)+rem;
}


*{
  box-sizing: border-box;
}

body, html {
  width: 100%;
}

body {
  padding: 0;
  margin:0;
  font-family: 'Lato', sans-serif;
  color: white;
  line-height: 150%;
}


/* ------------- mini-grid for 6 cols ------------------- */
.sectionContainer {
  @include psdWidth(1170);
  max-width: 1000px;
  margin: auto;
  padding: 60px 10px;
}

.sectionContainer:before,
.sectionContainer:after {
  content: " ";
  display: table;
}

.sectionContainer:after {
  clear: both;
}

.col-2, .col-3, .col-4, .col-5 {
  float: left;
}

.col-2{
  width: 50%; 
}

.col-3 {
  width: 33.33%; 
}

.col-4 {
  width: 25%; 
}

.col-6 {
  width: 16.66%; 
} 

.col-2>*, .col-3>*, h2, h3, button, main>section:nth-of-type(5) a>.blogItem {
  max-width: 450px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .sectionContainer {
    width: 100%;
  }
  .col-2, .col-3, .col-4, .col-5{
    float: none;
    width: auto;
  }
}

/* ------------- general utilities ------------------- */
button, .bttn {
  display: block;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  color: white;
  position: relative;
  border: 2px solid transparent;
  transition: all .3s ease-in-out;
  &:hover{
    box-shadow: 2px 2px 3px rgba(255,255,255,.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    border: 2px solid white;
  }
  &:active{
    top: 1px;
    left: 2px;
  }
}

h1{
  line-height: 120%;
  >span{
    color: #0081ff;
  }
}

h1, h3 {
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
}

h2 {
  padding-bottom: 15px;
}

h2, h3 {
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 40px;
}

h4 {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

main h2, header>section p:first-of-type {
  font-family: 'Norican', cursive;
  font-size: 1.5rem;
}

main p {
  padding: 5px 0;
}

a {
  text-decoration: none;
}



/* ------------- HEADER ------------------- */
header {
  background-image: url('../img/bckgrnd_header.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/*  nav  */
nav {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  color: white;
  height: 70px;
  padding: 10px 0;
  .sectionContainer {
    height: 100%;
    padding: 0;
  }
  h1 {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
    line-height: 70%;
  }
  .burgerIcon {
    display: none;
  }
  ul, li {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    float: right;
    -webkit-padding-start: 0;
    list-style: none;
    li {
      margin: 0 10px;

      a{
        display: block;
        height: 100%;
        color: white;
        text-align: center;
        padding: 0 2px;
        line-height: 3rem;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}




/* sec|home */
header>section {
  p{
    &:first-of-type{
      margin-top: 50px;
    }
    &:last-of-type {
      padding: 60px 0;
    }
  }
  h2 {
    text-align: left;
  }
  button {
    background-color: #00aeed;
  }
  .col-2:nth-of-type(2) {
    padding: 20px;
    &>img {
      width: 90%;
      max-width: 300px;
      height: auto;
      float: right;
      margin-top: 40px;
    }
  }
}



/* ------------- MAIN ------------------- */
/* about */
main>section:nth-of-type(1) {
  background-color: #0081ff;
  h2, h3 {
    text-align: left;

  }
  h3 {
    padding-bottom: 20px;
  }
  button {
    background: #3b4374;
    margin: auto;
    clear: both;
    margin-top: 40px;
  }
}

/* services */
main>section:nth-of-type(2){
  background-color: #007af3;
  .col-3 {
    position: relative;
    max-width: 450px;
    margin: 0 auto 40px auto;
    float: none;
    &:last-of-type {
      margin: 0 auto;
    }
    >* {
      padding-left: 50px;
    }
    &::before{
      content: '';
      width: 30px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center top;
    }
    &:nth-of-type(1)::before{
      background-image: url('../img/atom_icon.png');
    }
    &:nth-of-type(2)::before{
      background-image: url('../img/eye_icon.png');
    }
    &:nth-of-type(3)::before{
      background-image: url('../img/cog_icon.png');
    }
  }
}


/* portfolio */
main>section:nth-of-type(3){
  color: black;
  padding-top: 60px;
  h3{
    padding: 0 10px 50px 10px;
  }
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  img{
    clear: both;
    display: block;
  }
  &>.col-2 {
    text-align: center;
    &>img {
      height: auto;
      width: 100%;
      max-width: 350px;
    }
  }
}


/* clients */
main>section:nth-of-type(4){
  background-color: black;
  .sectionContainer {
    text-align: center;
    img{
      padding: 30px;
    }
  }
}


/* blog */
main>section:nth-of-type(5){
  a{
    color: white;
    background-color: white;
    display: block;
    margin: 20px auto;
  }
  .blogItem{
    padding: 10px;
    text-align: center;
    .date {
      font-size: 12px;
      font-weight: 600;
    }
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
  }
  .col-2:nth-of-type(1){
    &>a:nth-of-type(1)>.blogItem{
      color: black;
    }
    &>a:nth-of-type(2)>.blogItem{
      background-color: #007ef9;
    }
    &>a:nth-of-type(3)>.blogItem{
      background-color: #eaeaea;
      color: #353535;
    }
    &>a:nth-of-type(4)>.blogItem{
      background-color: black;
    }
  }
  .col-2:nth-of-type(2){
    &>a:nth-of-type(1)>.blogItem{
      background-image: url('../img/blog_it5_bckgrnd.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &>a:nth-of-type(2)>.blogItem{
      background-color: #e91d62;
    }
  }
}



/* ------------- FOOTER ------------------- */
/* contact */
footer {
  width: 100%;
  background-color: black;
  background-image: url('../img/bckgrnd_footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .sectionContainer {
    padding-bottom: 30px;
    & > p {
      text-align: center;
      font-size: 12px;
    }
  }
  .col-2 {
    &> p {
      padding-bottom: 20px;
      padding-left: 50px;
      position: relative;
      &::before {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &:nth-of-type(1)::before{
        background-image: url('../img/footer_icon_mail.png');
      }
      &:nth-of-type(2)::before{
        background-image: url('../img/footer_icon_phone.png');
      }
      &:nth-of-type(3)::before{
        background-image: url('../img/footer_icon_map.png');
      }    
    }
  }
  h3 {
    text-align: left;
    &:last-of-type {
      padding-top: 50px;
    }
  }
  /* form */
  span{
    font-weight: 600;
  }
  label{
    display: inline-block;        
    width: 90px;
    margin-top: 10px;
    font-size: 14px;
    &:first-of-type {
      margin-top: 0;
    } 
  }
  label+input, textarea {
    background-color: rgba(40,40,40, .8);
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px; 
    font-family: 'Lato', sans-serif;
  }
  label+input {
    height: 40px;
  }
  input[type="submit"]{
    margin-top: 40px;
    margin-bottom: 70px;
    background: #0280f9;
  }
  .socialIconsPane {
    margin: 0 auto 40px auto;
    text-align: center;
    img {
      margin: 10px;
    }
  }
}





/* ------------------- MEDIA SCREEN -------------------------------- */
@media only screen and (min-width: 769px) {
  .sectionContainer {
    padding: 120px 0;
  }
  .col-2 > *, h2, h3, button{
    max-width: none;
  }
  h2, button {
    margin: 0;
  }
  /* ---- HEADER ---- */
  header .sectionContainer>.col-2:nth-of-type(2){
   position: relative;

   &>img {
    max-width: 700px;
    position: absolute;
    top: 10px;
    right: 0;
    animation: swirl 1s ease-in 2s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  @keyframes swirl {
    0% {width: 10%; transform: rotate(0deg); position: absolute; opacity: 1;}
    100% {width: 90%; transform: rotate(-360deg); opacity: 1;}
  }
}
/* ---- MAIN ---- */
/* about */
main>section:nth-of-type(1) {
  .col-2:nth-of-type(1) {
    padding-right: 40px;
  }
  .col-2:nth-of-type(2) {
    padding-left: 40px;
  }
  button {
    float: left;
  }
}
/* services */
main>section:nth-of-type(2) .col-3 {
  float: left;
}

/* portfolio */
main>section:nth-of-type(3){
  h2, h3 {
    @include psdWidth(1170);
    margin: auto;
    max-width: 1000px;
  }
  img{
    clear: inherit;
  }
  &>img{
    width: 25%;
    float: left;
  }
  .col-2{
    &>img{
      max-width: none;
    }
    &:nth-of-type(1) {
      &>img:nth-of-type(2), &>img:nth-of-type(3){
        width: 50%;
        float: left;
      }
    }
    &:nth-of-type(2) {
      width: 50%;
      float: right;
      &>img:nth-of-type(1) {
        width: 50%;
        float: left;
      }
      &>img:nth-of-type(2), &>img:nth-of-type(3) {
        width: 50%;
        float: left;
      }
    }
  }
}

/* blog */
main > section:nth-of-type(5){
  a {
    & > .blogItem {
      max-width: none;
      height: 210px;
      p{
        overflow: hidden;
        max-height: 100px;
      }
    }
  }
  .col-2:nth-of-type(1) {
    padding-right: 10px;
    & > a:nth-of-type(1) > .blogItem, & > a:nth-of-type(2) > .blogItem, p, h2{
      width: 100%;
    }
    & > a:nth-of-type(3) > .blogItem, & > a:nth-of-type(4) > .blogItem{
      width: 50%;
      float: left;
    }
    & > a:nth-of-type(3) > .blogItem {
      border-right: 10px solid white;
    }
    & > a:nth-of-type(4) > .blogItem {
      border-left: 10px solid white;
    }
  }
  .col-2:nth-of-type(2) {
    padding-left: 10px;
    &>a:nth-of-type(1)>.blogItem {
      height: 440px;
    }
  }
}
/*footer*/
footer {
  label+input, textarea {
    width: 60%;
  }
  label {
    margin-top: 20px;
  }
  textarea {
    margin-top: 12.5px;
  }
}
}




/* for the smallest devices */


/*  nav - mobile  */
@media only screen and (max-width: 960px) {
 nav {
   .sectionContainer {
     width: 100%;
     padding: 0 10px;
     margin: 0;
     max-width: none;
   }
   ul {
    display: none;
    li {
      background: black;
      border-top: 1px solid grey;
      display: none;
      &:last-of-type{
        border-bottom: 1px solid grey;
      }
    }
  }
  .burgerIcon {
    display: block;
    float: right;
    height: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 0 20px;
    line-height: 3rem;
  }
}
nav.mobile {
  ul{
    display: block;
    position: absolute;
    top: 62px;
    left: 0px;
    width: 100%;
    li {
      display: block;
      height: 40px;
      width: 100%;
      margin: 0;
      a {
        padding: 10px;
        line-height: 150%;
      }
    }
  }
}
}

@media only screen and (max-width: 340px) {
  main>section:nth-of-type(4)>.sectionContainer>img{
    padding: 10px;
    width: 70%;
    height: auto;
  }
  nav h1 {
    font-size: 1.2rem;
    line-height: 150%;
  }
}
